body {
  padding: 0;
  text-align: center;
}

.game-intro {
  float: left;
  padding: 0% 10%;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana"
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#game-board {
    float: left;
    padding: 20px 0px;
}

.road-img{
  position:fixed;
  top: 0px;
  left: 700px;
  width: 400px;
  height: 100%;
  z-index: -1;
}

.hide{
  visibility: hidden;
}

.score-display{
  position:fixed;
  top: -10px;
  left: 760px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  z-index: 1;
}

.car-img{
  position: fixed;
  top: 80%;
  left: 875px;
  width: 50px;
}

.obstacle75, .obstacle100, .obstacle125, .obstacle150, .obstacle175, .obstacle200{
  position: fixed;
  top: -40px;
  height: 40px;
  background-color: #900C3F;
}

.obstacle75{
  width: 75px;
}
.obstacle100{
  width: 100px;
}

.obstacle125{
  width: 125px;
}

.obstacle150{
  width: 150px;
}

.obstacle175{
  width: 175px;
}

.obstacle200{
  width: 200px;
}

.gameover{
  position: fixed;
  top: 100px;
  left: 700px;
  width: 400px;
  background-color: black;
  color: red;
  font-size: 30px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  padding: 100px 0;
}