body {
  padding: 0;
  text-align: center;
}

.game-intro {
  float: left;
  padding: 0% 10%;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana"
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#game-board {
    float: left;
    padding: 20px 0px;
    display: none;
}

#car {
  position: fixed;
  top: 275px;
  width: 40px;
  display: none;
}

.obstacle {
  position: fixed;
  top: -100px;
  height: 30px;
  background-color: #870007;
}

.scoreboard {
  float: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 30px;
  color: white;
  padding: 20px 40px;
  margin: 20px;
  left: 1100px;
  width: 150px;
  border-radius: 5px;
  background-color: #870007;
}

.gameover {
  position: fixed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  left: 80vh;
  top: 20vw;
  width: 350px;
  padding: 50px;
  display: none;
  font-size: 30px;
  color: #870007;
}